<article class="post">
    <header>
        <h2 class="post__title"></h2>
        Lorem ipsum dolor sit amet.
    </header>
    <div class="post__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam porro perspiciatis sit quod amet eum, nostrum ut accusamus minima accusantium veritatis maxime facilis iste aspernatur debitis nesciunt beatae error quis totam vitae ratione eius? Maxime veritatis nam ea reiciendis, delectus quaerat modi distinctio quis vel asperiores ipsam iste minus beatae.
    </div>
</article>